@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/*KATEGORI*/


.kategori-content{
    align-items: center;
    margin: 30px;
}

.kategori-text{
    font-weight: bold;
    font-style: normal;
    line-height: 20.7px;
    size: 18px;
    text-decoration: none;
    text-align: center;
}

.kategori-text a{
    text-decoration: none;
    color: #304227;
}

a:hover{
     background-color: #F0DBC1;
}

.kategori-img img{
    width: 175.22px;
    height: 175.22px;
    border-radius: 26.7px;
    margin: 8px 0px 11px 0px;
}

.kategori-img1 img{
    width: 197px;
    height: 118px;
    border-radius: 26.7px;
    margin: 30px 0px 35px -10px;
}

.kategori-val{
   
    margin: 5px 0px 0px 8px;
    color: #304227;
    width: 20px;
    height: 20px;
    float: left;

}

.fa-comments{
    margin: 10px 50px 0px 0px;
    width: 20px;
    float:right;
}


.kategori-number{
    margin: 8px -50px 0px 0px;
    width: 20px;
    float: right;
}

.container-rosa{
    margin:auto;
}

.kategori-titel{
    margin: 20px 0px 0px 0px;
    color: #262b2f;
}
/*KATEGORI VEGO*/

.rosa-ruta-vego{
    float:left;
    margin: 60px 0px 15px 0px;
    width: 237px;
    height: 320px;
    background-color: #edc5ba;
    top: 574px;
    border-radius: 54px;
}

.rosa-ruta-vego1{
    float:left;
    margin: 60px 0px 80px 0px;
    width: 237px;
    height: 320px;
    background-color: #edc5ba;
    top: 574px;
    border-radius: 54px;
}


/* KATEGORI KÖTT*/

.rosa-ruta-kott{
    float:left;
    margin: 60px 0px 15px 0px;
    width: 237px;
    height: 320px;
    background-color: #c29c91;
    top: 574px;
    border-radius: 54px;
}

.rosa-ruta-kott1{
    float:left;
    margin: 60px 0px 80px 0px;
    width: 237px;
    height: 320px;
    background-color: #c29c91;
    top: 574px;
    border-radius: 54px;
}

/*KATEGORI FISK*/

.rosa-ruta-fisk{
    float:left;
    margin: 60px 0px 15px 0px;
    width: 237px;
    height: 320px;
    background-color: #cf9c8e;
    top: 574px;
    border-radius: 54px;
}

.rosa-ruta-fisk1{
    float:left;
    margin: 60px 0px 80px 0px;
    width: 237px;
    height: 320px;
    background-color: #cf9c8e;
    top: 574px;
    border-radius: 54px;
}