@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
box-sizing:border-box;
}



.fish-title{
    font-family: "Roboto", "sans-serif";
    margin: 50px 0px 0px 0px;
    text-align: center;
    color: #304227;
}

.fish-img img{
    width: 542.66px;
    height: 510px;
    border-radius: 14.8472px;
    float:left;
    margin-top: 40px;
}

.user-ingr-box{
    width: 416px;
    height: 1200px;
    float: right;
    background-color: #F8EEE2;
    margin: 40px 120px 0px 0px;
}

.user-title{
    font-size: 30px;
    font-weight: regular;
    color: #51321D;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

ul {
    margin-top: 20px;
    border: 1px solid #E2E2E2;
    align-items: center;
    border-radius: 14px;
}

li{
    list-style: none;
    color: #51321D;
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
    margin-top: 4px;
}

.sub-ingr{
    color: #51321D;
    text-align: center;
    margin-bottom: 15px;
}

.portion{
    width:150px;
    height: 27px;
    border-radius: 20px;
    border: 1px solid #51321D;
    text-align: center;
    margin: 0px 0px 20px 130px;
    color: #51321D;
}


.user-do-box{
    width: 678px;
    height:565px;
    float: right;
    margin: 20px 78px 0px 0px;
    background-color: #F8EEE2;
}