/*KATEGORI VEGO*/


.container-rosa{
    margin:auto;
}

.kategori-titel{
    margin: 20px 0px 0px 0px;
    color: #262b2f;
}

.rosa-ruta-vego{
    float:left;
    margin: 60px 0px 15px 0px;
    width: 237px;
    height: 320px;
    background-color: #edc5ba;
    top: 574px;
    border-radius: 54px;
}

.rosa-ruta-vego1{
    float:left;
    margin: 60px 0px 80px 0px;
    width: 237px;
    height: 320px;
    background-color: #edc5ba;
    top: 574px;
    border-radius: 54px;
}


.kategori-content{
    align-items: center;
    margin: 30px;
}

.kategori-text a{
    color: #304227;
    font-weight: bold;
    font-style: normal;
    line-height: 20.7px;
    size: 18px;
    text-decoration: none;
}

.kategori-img{
    width: 175.22px;
    height: 175.22px;
    border-radius: 26.7px;
    margin-top: 10px;
}

.kategori-img1{
    width: 197px;
    height: 118px;
    border-radius: 26.7px;
    margin: 50px 0px 20px 0px;
}

.kategori{
   
    margin: 5px 0px 0px 8px;
    color: #304227;
    width: 20px;
    height: 20px;
    float: left;

}

.fa-comments{
    margin: 10px 50px 0px 0px;
    width: 20px;
    float:right;
}


.kategori-number{
    margin: 8px -50px 0px 0px;
    width: 20px;
    float: right;
}

/* KATEGORI KÖTT*/

.rosa-ruta-kott{
    float:left;
    margin: 60px 0px 15px 0px;
    width: 237px;
    height: 320px;
    background-color: #c29c91;
    top: 574px;
    border-radius: 54px;
}

.rosa-ruta-kott1{
    float:left;
    margin: 60px 0px 80px 0px;
    width: 237px;
    height: 320px;
    background-color: #c29c91;
    top: 574px;
    border-radius: 54px;
}

/*KATEGORI KÖTT*/

.rosa-ruta-fisk{
    float:left;
    margin: 60px 0px 15px 0px;
    width: 237px;
    height: 320px;
    background-color: #D2B2A9;
    top: 574px;
    border-radius: 54px;
}

.rosa-ruta-fisk1{
    float:left;
    margin: 60px 0px 80px 0px;
    width: 237px;
    height: 320px;
    background-color: #D2B2A9;
    top: 574px;
    border-radius: 54px;
}